<h1 class="text-center">
  Welcome to <span>{{title}}</span>
</h1>

<div id="timer"></div>

<form>
  <input type="radio" name="choises" id="choise_1" checked="true" /> <label for="choise_1">Option 1</label>
  <input type="radio" name="choises" id="choise_2" /> <label for="choise_2">Option 2</label>
  <br/>
  <div class="input-group">
    <input type="text" class="form-control datetimepicker" placeholder="Fecha de Salida" aria-describedby="basic-addon1" name="left_at">
  </div>
</form>

<table>
  <thead>
    <tr>
      <th>Title 1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Title 1</td>
    </tr>
    <tr>
      <td>Title 4</td>
    </tr>
    <tr>
      <td>Title 3</td>
    </tr>
    <tr>
      <td>Title 6</td>
    </tr>
    <tr>
      <td>Title 8</td>
    </tr>
    <tr>
      <td>Title 2</td>
    </tr>
  </tbody>
</table>
